/495 Senior Project/webapp_final_pass_v.5/.venv/
/.idea
/495 Senior Project/.idea
/495 Senior Project/Flask Webapp 4-19-2024
495 Senior Project/webapp_final_pass_v.5/__pycache__/encryption.cpython-310.pyc
