<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current vote</title>
    <link rel="stylesheet" href="static/homestyle.css">
</head>
<body>
{% extends "navbar.html" %}

{% block content %}


<style>
h1 {
  text-align: center;
}
</style>


<h1>What is your favorite Fruit?</h1>

<div class="btn-group">
  <button>Banana</button>
  <button>Apple</button>
</div>
<div class="btn-group">
  <button>Orange</button>
  <button>Strawberry</button>
</div>
<style>
h3 {
  text-align: center;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
</style>
<h3>Your Vote is: 321871423734</h3>


<style>
form {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10px;
   }
</style>
<form>
    <button>Submit Vote</button>
</form>


{% endblock %}
</body>
</html>