<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/navbarcss.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/Icon.ico" />
</head>
<body>
<nav class="nav">
    {% if current_user.is_authenticated %}
        {% if current_user.username == "Admin" %}
            <a href="/createVote">Create Vote</a>
            <a href="/endVote">End Vote</a>
        {% endif %}
        <a href="currentVote">Current Vote</a>
        <a href="/">About us</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/about">About us</a>
        <a href="/login">Login</a>
        <a href="/create">Create Account</a>
    {% endif %}
</nav>

{%block content %}
{% endblock %}
</body>
</html>