<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current vote</title>
    <link rel="stylesheet" href="static/homestyle.css">
</head>
<body>
{% extends "navbar.html" %}

{% block content %}


<style>
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
form {
   display: block;
   justify-content: center;
   align-items: center;
   height: 10px;
}
</style>


<h1>{{ quest }}</h1>

<h3>Chosen Option: <span id="visibleValue">{{ optionText|default('') }}</span></h3>
<h3>Use matchstick to test the encryption (Or just enter a vote below!)</h3>

<form action="/currentVote" method="post" id="form">
    <input type="number" id="encryptVal" name="encryptVal" value="{{ match|default('') }}">
    <input type="hidden" id="chosenValue" name="chosenValue" value="{{ chosenValue|default('') }}">
    <input type="hidden" id="optionText" name="optionText" value="{{ optionText|default('') }}">
    <input type="hidden" id="decryptVal" name="decryptVal" value="{{ striker|default('') }}">
</form><br>
<h3 class="vanishElement">Decrypted Vote:<span class="vanishElement">{{ striker|default('') }}</span></h3>

<div class="btn-group">
  <button class="option-btn" value="{{ op1 }}" id="1">{{ op1 }}</button>
  <button class="option-btn" value="{{ op2 }}" id="100">{{ op2 }}</button>
</div>
<div class="btn-group">
  <button class="option-btn" value="{{ op3 }}" id="10000">{{ op3 }}</button>
  <button class="option-btn" value="{{ op4 }}" id="1000000">{{ op4 }}</button>
</div>
<button class="option-btn" value="Abstain" id="0">Abstain</button>
<h3><!--Your Vote is: 321871423734 --></h3>


<button type="submit" id="submitButton">Submit Vote</button>
<button type="submit" id="encButton">Encrypt My Vote!</button>
<button type="submit" formaction="/striker" id="decButton">Decrypt My Vote!</button>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btns = document.getElementsByClassName('option-btn');
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener('click', function() {
                document.getElementById('visibleValue').innerText = this.value; // storing the button id in visible field.
                document.getElementById('chosenValue').value = this.id; // storing the button value in the hidden field.
                document.getElementById('optionText').value = this.value; // populate optionText val, replace matchstick
                document.getElementById('decryptVal').value = ""; // empty values upon pressing button, dump matchstick vals
                document.getElementById('encryptVal').value = "";

                encryptStuff = document.getElementsByClassName('vanishElement');
                for (var i = 0; i < encryptStuff.length; i++) {
                    encryptStuff[i].hidden = true;
                }
            });
        }
    });

    document.getElementById('submitButton').addEventListener("click", function() {
        document.getElementById('form').submit();
    });
    document.getElementById('encButton').addEventListener("click", function() {
        form = document.getElementById('form');
        form.action = "/matchstick";
        form.submit()
    });
    document.getElementById('decButton').addEventListener("click", function() {
        form = document.getElementById('form');
        form.action = "/striker";
        form.submit()
    });

</script>
{% endblock %}
</body>
</html>