<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current vote</title>
    <link rel="stylesheet" href="static/homestyle.css">
</head>
<body>
{% extends "navbar.html" %}
{% block content %}

<!--Display graph of vote results here!--->
<!--This should be fairly easy to modify in the future, IDK how to graph with js tho--->
<h1>{{ latestVote.question }}</h1>
<h3>TALLY: {{ latestVote.tally }}</h3>
<p>option 1:   {{ latestVote.option1 }}:{{ latestVote.option1Total }}</p>
<p>option 2:   {{ latestVote.option2 }}:{{ latestVote.option2Total }}</p>
<p>option 3:   {{ latestVote.option3 }}:{{ latestVote.option3Total }}</p>
<p>option 4:   {{ latestVote.option4 }}:{{ latestVote.option4Total }}</p>

{% endblock %}
</body>
</html>